@model IQueryable<CarApp.Models.Car>

@{
    Layout = "_Layout";
}
<div class="page-container">
    <div class="navbar-container">
        <img src="~/IMGS/logo-min.png" width="70" height="30">
        <ul>
            <li><a asp-controller="Login" asp-action="Index">Strona Główna</a></li>
            <li><a asp-controller="Car" asp-action="ShowList">Flota</a></li>
            <li><a>Użytkownicy</a></li>
            <li><a>Status floty</a></li>
        </ul>
        <div class="option-icons">
            <a class="add-car" asp-controller="Car" asp-action="AddForm"><i class="fas fa-plus-circle"></i></a>
            <a class="add-car" asp-controller="Car" asp-action="SearchForm"><i class="fas fa-search"></i></a>
            <a class="add-car" asp-controller="Login" asp-action="Logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <div class="car-list-main-page-content">
        <h1>Aktualna flota</h1>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Rok produkcji</th>
                <th>Silnik</th>
                <th>Paliwo</th>
                <th>Skrzynia biegów</th>
                <th>Status samochodu</th> <!--W tej kolumnie wypisana informacja o statusie samochodu (wolny/zajęty)-->
            </tr>
            <tbody>
                @foreach (var car in @Model)
                {
                    <tr>
                        <td>
                            @car.Marka
                        </td>
                        <td>
                            @car.Model
                        </td>
                        <td>
                            @car.Rok
                        </td>
                        <td>
                            @car.Silnik
                        </td>
                        <td>
                            @car.Paliwo
                        </td>
                        <td>
                            @car.Skrzynia
                        </td>
                        <td class="operations">
                            <a asp-controller="Car" asp-action="EditForm" asp-route-ID="@car.id"><i class="fas fa-pencil-alt"></i></a>
                            <a asp-controller="Car" asp-action="DeleteCar" asp-route-ID="@car.id"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <span>
            <a class="add-new-car-list-button" asp-controller="Car" asp-action="AddForm">Dodaj kolejny pojazd</a>
        </span>
    </div>
</div>